header{
    background-color: #BBBB;
    padding: 20px 0;

}

.caixa{
    position: relative;
    width: 940px;
    margin: auto;
}

/*Será configurado o CSS de cada item da lista*/
nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

/*Iremos utilizar o hover para mapear um comportamento em nosso site*/
nav a:hover{

    color: #C78c19;
    text-decoration: underline;
}

.produtos{
    /*Definindo tamanho total da linha com os elementos*/
    width: 940px;
    margin: auto; /* A Margem será automática*/
    padding: 50px 0; /*Espaço internod de 50px e 0 para os lados*/
    
}

.produtos li{
    /*Configuraçãoes que serão alocadas para cada elemento*/
    display: inline-block;
    text-align: center;
    width: 30%; /*Vai diminuiro tamanho dos itens em 30%*/
    vertical-align: top; /*Irá alinhar os itens pela liha de cima*/
    margin: 0 1.5%;/*Margin Externa */
    padding: 30px 20px;/*Margin interna*/
    box-sizing: border-box;/*Agora iremos definir 
    que os 30% serão o total e não sofrerão mais interferencia
    das medidas que colocamos em pixels
    */
    /*itens que montam uma borda*/
    border-color: #000000;
    /*Tamanho da borda*/
    border-width: 2px;
    /*Estilo da borda*/
    border-style: solid;
    /*Altera o tamanho da borda de cima*/
    /*border-top-width: 10px;*/
    /*deixa a borda no formato arrendondado*/
    border-radius: 10px;
    /*Entretanto podemos fazer tudo isso em uma unica declaração */
    /*border: 2px solid #000000 */
}

/*Alteração no item quando o mouse passar por cima*/
.produtos li:hover {
    border-color: #C78c19;

}

/*Alteração de comportamento para quando o item estiver pressionado pelo mouse*/
.produtos li:active {
    border-color: #088c19;
    font-size: 40px;
}
.produtos h2:hover{
    font-size: 34px;

}

.produtos h2{
    font-size: 30px;
    font-weight: bold;/*Negrito*/

}

.produto-descricao{
    font-size: 18px;    
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;/*Negrito*/
    margin-top: 10px;
}

footer{
    text-align: center;
    /*Usar uma img como background*/
    background: url("bg.jpg");
    padding: 40px;
}

.copyrigth{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
} 

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;

}

form label, form legend{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

/*Ao colocarmos vírgula conseguimos aplicar a mesma mudança a todos os outros elementos*/
.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}